body {
    background-color: rgb(108, 154, 241);
}

h1 {
    color: rgb(149, 216, 241);
    font-family: 'Amatic SC', cursive;
}

h2 {
    font-family: 'Amatic SC', cursive;
}

h3 {
    font-family: 'Amatic SC', cursive;
}